.DS_Store
.idea/
*.iml

**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.gradle/
**/.hvigor/
**/.packages
**/DerivedData/
**/Pods/
**/build/
**/node_modules/
**/oh_modules/

*.apk
*.app
*.hap
*.ipa
*.xcarchive
